# Compiled class file
*.class
# Logs
*.log
# BlueJ
*.ctxt
# J2ME
.mtj.tmp/
# Package Files
*.zip
*.tar.gz
*.rar
# Crash logs
hs_err_pid*
replay_pid*
# Maven build
target/
# Firebase / secrets
*.json
# OS / IDE
.DS_Store
.idea/
*.iml
# env
.env
.env.*

# Docker
smarthoteldb.sql
databases.properties
configs.properties